{% extends 'learning_logs/base.html' %}
{% include 'learning_logs/includes/messages.html' %}

{% block page_header %}
<h3 class="topic-on-hand">{{ topic }}</h3>
{% endblock page_header %}

{% block content %}

<p>Are you sure you want to delete the entry "{{ entry.text }}"?</p>

<form action="{% url 'learning_logs:delete_entry' entry.id %}" method="post">
  {% csrf_token %}
  <input type="submit" value="Delete entry">
  <input type="button" value="No, go back" onclick="history.back()">
</form>

{% if messages %}
{% for message in messages %}
  {% if message.level == 'success' %}
    <div class="alert alert-success">{{ message }}</div>
  {% elif message.level == 'error' %}
    <div class="alert alert-danger">{{ message }}</div>
  {% endif %}
{% endfor %}
{% endif %}

{% endblock content %}
