{% extends "learning_logs/base.html" %}
{% block content %}
<p><a class="btn btn-secondary" href="{% url 'learning_logs:index'%}"> Back to Home
</a> <br>
    The Online Journal app is a functional website that allows users to keep track of 
    the topics they are reading and learning about. It is provided for educational and informational 
    purposes only, and is not intended to be used as a substitute for professional advice or services.

    The Online Journal app is built with Django, a powerful web framework for Python, and is 
    part of a full stack portfolio project with Code Institute. The purpose of the app is to showcase 
    the skills of the developer as a full stack developer, and it is not intended for use in a production 
    environment.
    
    The Online Journal app is provided on an "as is" basis, without warranties of any kind, 
    either express or implied. The developer and Code Institute do not accept any liability for any 
    errors or omissions in the content of the app, or for any actions taken based on the information 
    provided on the app.
    
    Use of the Online Journal app is at the user's own risk. The developer and Code Institute do 
    not endorse or assume any responsibility for the content or use of any third-party websites or 
    services that may be accessed through the app.
    
    By using the Online Journal app, you acknowledge and agree to the above disclaimer.</p>
    {% endblock content %}