{% extends "learning_logs/base.html" %}
{% load bootstrap4 %}
{% load static %}
{% block page_header %}
{% if not user.is_authenticated %}
<div class="jumbotron bg-image p-5 text-center shadow-1-strong rounded mb-5 text-white"
style="background-image: url('');">
<div id="jumbotron">
    <h1 class="display-3">Monitor your progress.</h1>

    <p class="lead">Create your own Online Journal and keep a note of
        the issues you are studying. Make a note of what you've learnt each
        time you learn something new about a subject.</p>

    <a class="btn btn-lg btn-primary register" href="{% url 'users:register' %}" role="button">Register &raquo;</a>
</div>
</div>
{% endif %}
{% endblock page_header %}
