{% extends "learning_logs/base.html" %}

{% block page_header %}
<h3 class="topic-on-hand">{{ topic }}</h3>
{% endblock page_header %}
{% block content %}

<ul class="topics-list list-group list-group-flush">
    {% for topic in topics %}
    <li  class="list-group-item">
        <a href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a>
    </li>
    {% empty %}
    <li  class="list-group-item" >There are no entries yet.</li>
    {% endfor %}
</ul>
<h2><a class="add-topic" href="{% url 'learning_logs:new_topic' %}">Add another topic at hand:</a></h2>
{% endblock content %}