{% extends 'learning_logs/base.html' %}

{% block page_header %}
<h3 class="topic-on-hand"><a class="btn btn-secondary go-back" href="javascript:history.back()">Go back</a> {{ topic }}</h3>

{% endblock page_header %}

{% block content %}
<ul>
  {% for entry in entries %}
  <div class="card mb-3">
    <h4 class="card-header">
      {{ entry.date_added|date:'M d, Y H:i' }}
      <small><a href="{% url 'learning_logs:edit_entry' entry.id %}">
          <i class="fa-regular fa-pen-to-square edit"></i></a></small>
          <a href="{% url 'learning_logs:delete_entry' entry.id %}">Delete entry</a>
    </h4>

    <div class="card-body">
      {{ entry.text|linebreaks }}
    </div>
  </div>
  {% empty %}
  <p>There are currently no entries.</p>
  {% endfor %}
</ul>
<p>
  <a class="new-entry btn btn-secondary" href="{% url 'learning_logs:new_entry' topic.id %}" role="button">Add new
    entry</a>
</p>

{% endblock content %}